:root {
  --swiper-navigation-size: 20px !important;
  font-weight: 600;
  --swiper-theme-color: #014470 !important;
}

body {
  font-family: 'Inter', sans-serif;
}

.special-font {
  font-family: 'Katibeh', serif;
}

.card::-webkit-scrollbar {
  width: 0px;
}

@media (min-width: 1440px) {
  .img {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  .img {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  .img {
    zoom: 2.5;
  }
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 25rem;
  height: 20rem;
  position: relative;
}

@media (min-width: 768px) {
  .swiper_container {
    height: 23rem !important;
  }
  .swiper-slide {
    width: 20rem !important;
  }
}
@media (min-width: 1024px) {
  .swiper_container {
    height: 28rem !important;
  }
  .swiper-slide {
    width: 25rem !important;
    height: 25rem !important;
  }
}

@media (min-width: 1280px) {
  .swiper_container {
    height: 28rem !important;
  }
  .swiper-slide {
    width: 27rem !important;
    height: 27rem !important;
  }
}

@media (min-width: 1440px) {
  .swiper_container {
    height: 30rem !important;
    /* width: 100%; */
  }
  .swiper-slide {
    width: 30rem !important;
    height: 26rem !important;
  }
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 24px !important;
}

/* @media (max-width: 500px) { */
/* .swiper_container {
    height: 20rem !important;
  } */
/* .swiper-slide {
    width: 20rem !important;
    height: 27rem !important;
  } */
/* .swiper-slide .img {
    width: 20rem !important;
    height: 25rem !important;
  } */
/* .slider-controler {
    position: relative;
    top: -7rem !important;
    display: flex; */
/* left: 0; */
/* align-items: center; */
/* justify-content: space-around;
    z-index: 90;
    cursor: pointer; */
/* background-color: ; */
/* }
} */

.swiper-slide .img {
  width: 25rem !important;
  height: 20rem !important;
  /* border-radius: 2rem; */
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  top: -20rem;
  display: flex;
  /* left: 0; */
  /* align-items: center; */
  justify-content: space-around;
  z-index: 90;
  cursor: pointer;
  /* background-color: ; */
}
@media (min-width: 768px) {
  .slider-controler {
    position: relative;
    top: -15rem;
    display: flex;
    /* left: 0; */
    /* align-items: center; */
    justify-content: space-around;
    z-index: 90;
    cursor: pointer;
    /* background-color: ; */
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .slider-controler {
    position: relative;
    top: -18rem !important;
    display: flex;
    /* left: 0; */
    /* align-items: center; */
    justify-content: space-around;
    z-index: 90;
    cursor: pointer;
    /* background-color: ; */
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .slider-controler {
    position: relative;
    top: -10rem;
    display: flex;
    /* left: 0; */
    /* align-items: center; */
    justify-content: space-around;
    z-index: 90;
    cursor: pointer;
    /* background-color: ; */
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    /* left: 58% !important; */
    /* transform: translateX(-78%) !important; */
    right: 5px !important;
    position: absolute;
  }
  .swiper-button-prev {
    /* left: 58% !important; */
    /* transform: translateX(-78%) !important; */
    left: 5px !important;
    position: absolute;
  }
  /* .slider-controler .slider-arrow {/ */
  /* background: var(--white); */
  /* background-color: white; */
  /* opacity: 80; */
  /* } */
}

/* .swiper-button-next { */
/* left: 58% !important; */
/* transform: translateX(-78%) !important; */
/* right: 8%;
  position: absolute;
} */
/* .swiper-button-prev { */
/* left: 58% !important; */
/* transform: translateX(-78%) !important; */
/* left: 8%;
  position: absolute;
} */

@media (min-width: 768px) and (max-width: 2560px) {
  .swiper-button-next {
    /* left: 58% !important; */
    /* transform: translateX(-78%) !important; */
    right: 8%;
    position: absolute;
  }
  .swiper-button-prev {
    /* left: 58% !important; */
    /* transform: translateX(-78%) !important; */
    left: 8%;
    position: absolute;
  }
  .slider-controler .slider-arrow {
    /* background: var(--white); */
    background-color: white;
  }
}

/* @media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
} */

/* @media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
} */

/* @media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
} */

.slider-controler .slider-arrow {
  /* background: var(--white); */
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 42%; */
  /* transform: translateX(-42%); */
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

/* .slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
} */

.slider-controler .slider-arrow::after {
  content: '';
}

/* .swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
} */
